@inherits LayoutComponentBase

<header class="header">
    <Logo Height="2.2375rem" Width="10.44044rem" />
    <div>
        <a class="regular-text s white" href="#">Преимущества</a>
        <a class="regular-text s white" href="#">Характеристики</a>
        <a class="regular-text s white" href="#">Комплектация</a>
        <a class="regular-text s white" href="#">Отзывы</a>
        <a class="regular-text s white" href="#">Вопросы</a>
        <a class="regular-text s white" href="#">Контакты</a>
    </div>
    <Button Text="Поиск дилеров" Attributes="_searchButton" />
</header>
<main>@Body</main>
<footer>
    <div>
        <div class="header">
            <Logo Height="2.2375rem" Width="10.44044rem" />
            <div>
                <a class="regular-text s white" href="#">Преимущества</a>
                <a class="regular-text s white" href="#">Характеристики</a>
                <a class="regular-text s white" href="#">Комплектация</a>
                <a class="regular-text s white" href="#">Отзывы</a>
                <a class="regular-text s white" href="#">Вопросы</a>
                <a class="regular-text s white" href="#">Контакты</a>
            </div>
            <Button Text="Поиск дилеров" Attributes="_searchButton" />
        </div>
        <div class="footer-container">
            <div class="contact-element">
                <span class="regular-text s light-green">Адрес компании:</span>
                <span class="header-text s white">127273 Москва, ул. Березовая Аллея, д. 5А, стр. 1-3, офис 106</span>
            </div>
            <div class="contact-element">
                <span class="regular-text s light-green">Телефон компании:</span>
                <span class="header-text s white">+7(495) 980-78-41</span>
            </div>
            <div class="contact-element">
                <span class="regular-text s light-green">Почта компании:</span>
                <span class="header-text s white">info@metabo.ru</span>
            </div>
            <div class="contact-element">
                <span class="regular-text s light-green">Социальные сети:</span>
                <span class="header-text s white">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="22" viewBox="0 0 30 22" fill="none">
                        <path d="M29.3818 3.78673C29.0361 2.50151 28.0228 1.48841 26.7378 1.14233C24.3902 0.5 14.9996 0.5 14.9996 0.5C14.9996 0.5 5.60943 0.5 3.26184 1.118C2.00151 1.4637 0.963515 2.50175 0.617812 3.78673C0 6.13414 0 11.0024 0 11.0024C0 11.0024 0 15.8952 0.617812 18.218C0.963843 19.5031 1.97681 20.5162 3.26203 20.8623C5.63414 21.5048 15 21.5048 15 21.5048C15 21.5048 24.3902 21.5048 26.7378 20.8868C28.023 20.5409 29.0361 19.5278 29.3822 18.2427C29.9998 15.8951 29.9998 11.0271 29.9998 11.0271C29.9998 11.0271 30.0245 6.13409 29.3818 3.78673ZM12.0098 15.4999V6.50487L19.8186 11.0023L12.0098 15.4999Z" fill="white" />
                    </svg>
                </span>
            </div>
            <div class="contact-element">
                <span class="regular-text s light-green">Телефон сервисного центра:</span>
                <span class="header-text s white">+7(495) 981-37-45</span>
            </div>
            <div class="contact-element">
                <span class="regular-text s light-green">Почта cервисного центра:</span>
                <span class="header-text s white">service@metabo.ru</span>
            </div>
        </div>
        <div class="footer-closer">
            <span class="regular-text s white">© 2023 OOO «Метабо Евразия» Выполнено в учебных целях.</span>
            <a class="regular-text s white" href="#">Политика конфиденциальности</a>
        </div>
    </div>
</footer>
@code{
    private readonly ButtonAttributes _searchButton = new()
    {
        Background = "none",
        TextColor = "white",
        BorderColor = "white",
        BackgroundHover = "white",
        TextColorHover = "#25473F",
        BorderColorHover = "white"
    };
}