section {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1860" height="790" viewBox="0 0 1860 790" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M20 0C8.95431 0 0 8.95432 0 20V730C0 741.046 8.9543 750 20 750H210.903C216.86 750 222.507 752.655 226.306 757.243L242.87 777.243C247.744 783.128 253.72 790 261.361 790H1840C1851.05 790 1860 781.046 1860 770V20C1860 8.95431 1851.05 0 1840 0H20Z" fill="%23151515"/></svg>');
}
div{
    flex-direction: column;
}

    section > span {
        background-image: url('https://i.ibb.co/0FzKk7b/img-1-2.png');
        background-repeat: no-repeat;
        border-radius: 0rem 0rem 1.25rem 0rem;

        width: 57.1875rem;
        height: 42.5rem;
        flex-shrink: 0;
    }
    section > div {
        gap: 3.75rem;
        margin: 5rem 1.875rem 7.5rem 16.31rem;
    }

.landing-parameters {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.25rem;
}
.landing-header {
    gap: 2.5rem;
    align-items: start;
}

.title{
    align-items: start;
}