<section>
    <div>
        <div class="landing-header">
            <article class="title">
                <span class="header-text xl white">SSW 18 LT <span class="light-green">300 BL</span></span>
                <span class="regular-text l light-green">Mощный аккумуляторный ударный гайковёрт, который является незаменимым инструментом для профессионалов, работающих в различных отраслях</span>
            </article>
            <Button Text="Оформить заявку" />
        </div>
        <article class="landing-parameters">
            <div>
                <span class="regular-text s light-green">Держатель инстурментальных насадок</span>
                <span class="header-text l white">Внешний четырехгранник 1/2″ (12,70 мм)</span>
            </div>
            <div>
                <span class="regular-text s light-green">Крутящий момент</span>
                <span class="header-text l white">300 Hm</span>
            </div>
            <div>
                <span class="regular-text s light-green">Напряжение аккумулятора</span>
                <span class="header-text l white">18 В</span>
            </div>
        </article>
    </div>
    <span />
</section>
@code{

}