@import url(https://fonts.googleapis.com/css?family=Roboto:regular|Inter:regular&subset=cyrillic,latin);

body {
    background: #ECEDED;
    padding: 0 1.875rem;
}

* {
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

header, main, footer {
    display: flex;
    flex-shrink: 0;
}
    header div, header span, header a, header p, main section, main div, main span, main a, main p, footer div, footer span, footer a, footer p {
        display: inline-flex;
    }

.header-text {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
    .header-text.s {
        font-weight: 400;
        line-height: 130%;
    }
.regular-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.s {
    font-size: 1.0625rem;
}
.m {
    font-size: 1.25rem;
}
.l {
    font-size: 1.5rem;
}
.xl {
    font-size: 3rem;
}

.green {
    color: #25473F;
}

.hint {
    color: #7B8A9C;
}

.light-green {
    color: #A9D0C7;
}
.nab {
    color: #4D6F67;
}
.white {
    color: #FFF;
}
